{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Sign up to save your timers!</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" value="Register">Register</button>
            </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="/accounts/login">Sign In</a>
        </small>
    </div>
</div>

{% endblock content %}
