{% extends 'base.html' %}

{% block meta %}<meta http-equiv="refresh" content="15">{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">B Train - Chestnut Hill Ave</h4>
          <h6 class="card-subtitle mb-2 text-muted">Eastbound</h6>    
            <p class="card-text"><span id="b_display"></span> | <span id="b_seconds_remaining"></span></p>
      </div>
    </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">C Train - Cleveland Circle</h4>
        <h6 class="card-subtitle mb-2 text-muted">Eastbound</h6>    
        <p class="card-text"><span id="c_display"></span> | <span id="c_seconds_remaining"></span></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">D Train - Reservoir</h4>
        <h6 class="card-subtitle mb-2 text-muted">Eastbound</h6>    
        <p class="card-text"><span id="d_display"></span> | <span id="d_seconds_remaining"></span></p>
    </div>
  </div>
    <br>

   <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script -->
   <script type="text/javascript">
      const root_url = '';
      const b_intervalID = setInterval(update_values, 1000);
      const c_intervalID = setInterval(update_values, 1000);
      const d_intervalID = setInterval(update_values, 1000);

      function update_values() {
         $.getJSON(
          root_url + "_update_timer" + "/b_timer",
          data => {
            $("#b_display").text(data.b_display);
            $("#b_seconds_remaining").text(data.b_seconds_remaining);
            if (data.b_display == 0) {
              clearInterval(b_intervalID);
            }
          }
        )
        $.getJSON(
          root_url + "_update_timer" + "/c_timer",
          data => {
            $("#c_display").text(data.c_display);
            $("#c_seconds_remaining").text(data.c_seconds_remaining);
            if (data.c_display == 0) {
              clearInterval(c_intervalID);
            }
          }
        )
        $.getJSON(
          root_url + "_update_timer" + "/d_timer",
          data => {
            $("#d_display").text(data.d_display);
            $("#d_seconds_remaining").text(data.d_seconds_remaining);
            if (data.d_display == 0) {
              clearInterval(d_intervalID);
            }
          }
        )
      }
</script>
{% endblock %}